:root {
    --text-colour: white;
}

body {
    background-color: #04476F;
}

.nav-link {
    color: var(--text-colour);
    font-size: 1.4rem;
}

.nav-link:hover, .nav-link:active {
    color: #5FC4E1;
}

.container-fluid {
    margin: 50px 50px 50px 50px;
}

#hero {
    background-color: ;
}

h1 {
    color: var(--text-colour);
}

.btn {
    padding: 10px 50px 10px 50px;
}

.card {
background-color: #3A3A3A;
border-color: none;
color: var(--text-colour);
}

.project-image img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
}