:root {
    --text-colour: white;
}

body {
    background-color: #04476F;
}

.nav-link {
    color: var(--text-colour);
    font-size: 1.4rem;
}

.nav-link:hover, .nav-link:active {
    color: #5FC4E1;
}

.container-fluid {
    margin: 50px 50px 50px 50px;
}

.btn:hover {
    border-color: #5FC4E1;
    background-color: #5FC4E1;
    box-shadow: 5px 5px 5px black;
}

#hero {
    background-color: #3A3A3A;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    margin-bottom: 15px;
}

hr.rounded {
    border-top: 8px solid #5FC4E1;
    width: 60%;
    margin: 0 auto;
  }

h1, h3 {
    color: var(--text-colour);
}

.btn {
    padding: 10px 50px 10px 50px;
}

.card {
background-color: #3A3A3A;
border-color: none;
color: var(--text-colour);
}

.project-image img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
}

li {
    list-style-type: square;
}

/* resizes the footer social links to a larger size */
footer img {
    width: 30px;
    margin: 20px;
}